:root {
    --dark: #1A1423;
    --orange: #FC9E4F;
    --white: #FBFBFB;
    --blue: #6A7FDB;
    --darker-bue: #4D7298;
}

h5 {
    color: #1a14238a;
}

ul {
    color: var(--dark);
}

body {
    background-color: var(--dark);
    color: var(--white);
}

button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    /* make the button zoom in */
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.numInput {
    border-radius: 5px;
    max-width: 20%;
}

.row {
    padding: 2%;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin: 2% 2% 2% 0;
}

.loader {
    border: 16px solid var(--darker-bue);
    /* Light grey */
    border-top: 16px solid var(--orange);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.info {
    margin: 2%;
}

.inputSec {
    margin: 2% 2% 2% 0;
}

#result {
    /* margin: 2% 2% 2% 0; */
    /* center the contents horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* margin: 36px; */
    padding: 36px;
    box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background: #FFFFFF;
}

.table-scroll-wrapper {
    overflow: auto;
}

.table-wrapper h4 {
    color: var(--dark)
}

#menus_table {
    /* width: 100%; */
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}


/* recipes table header row */

#menus_table thead {
    background: #FCE9D0;
    color: #FFFFFF;
    font-size: 16px;
    border-bottom: 3px solid #FFFFFF;
}


/* left pad the first column */


/* #menus_table td:first-child {
    padding-left: 20px;
} */


/* left pad the left-most table header cell */

#menus_table th {
    padding-left: 20px;
}

#menus_table th:last-child {
    padding-right: 20px;
}


/* first table header row has no bottom border... */

#menus_table thead tr:first-child th {
    border-bottom: none;
    height: 50px;
    color: #DE6B3A;
}


/* table cells */

#menus_table td {
    background-color: #F6F7F9;
    height: 60px;
    border-bottom: 3px solid #FFFFFF;
    padding-left: 20px;
}

#menus_table td:last-child {
    padding-right: 20px;
}

#tableBody {
    color: var(--dark)
}

.card {
    background-color: var(--orange);
    border-radius: 20px;
    margin-bottom: 5%;
}

.card p {
    /* font color */
    border-radius: 20px;
    padding: 5%;
    background-color: #FCE9D0;
    color: var(--dark);
}

.card h5 {
    color: var(--white);
}

.card ul {
    white-space: nowrap;
    padding-inline-start: 0;
}

.card ul li {
    display: inline-block;
    margin: 0 5px;
}

.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /* make scrollbar small */
    /* scrollbar-width: 100px; */
}

::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    /* outline: 1px solid slategrey; */
    border-radius: 10px;
}

#resText {
    /* align this to center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange);
    margin-top: 5%;
}